rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /residents/{residentId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.uid;
    }

    match /clients/{clientId} {
      allow read, create: if read.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.uid;
    }

    match /introspection-request/{requestId} {
      allow read, update, delete: if resource.data.clientId == request.auth.uid 
        || resource.data.residentId == request.auth.uid;
      allow create: if request.auth != null;
    }
  }
}